
body{
  font-family: sans-serif;
  margin: 0px;
  color: white;
}

#parent-menu {
  height: 200px;
}

#happy-hour {
  background-color: lavender;
}

#party-time {
  background-color: coral;
  color: white;
}

#breakfast{
  background-image: url("../img/assets/foodtop/breakfast.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#lunch{
  background-image: url("../img/assets/foodtop/lunch.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#dinner{
  background-image: url("../img/assets/foodtop/dinner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#intoduction{
  /* padding: 0; */
  background-attachment: fixed;
  background-image: url("../img/assets/backgrounds/landing.jpg");
  background-position: center;
  height: 850px;
  width:100%;
  background-size: cover;
  /* margin-top: 70px; */
}
.heading2{
  color: grey;
}
.heading3{
  color: grey;
}
.fastfoodp{
  color: grey;
}
#fastfood{
  float: left;
  padding: 0

}
.heading4{
  color: grey;
}
.heading5{
  color: grey;
}
.fastfoodd{
  color: grey;
}
#bf{
  color: white;
  font-style: italic;
}
#lu{
  color: white;
  font-style: italic;
}
#di{
  color: white;
  font-style: italic;
}
#btn1:hover{
  color: orange;
  background: white;
  padding: 2px;
  font-size: 14px
}
#btn2:hover{
  color: orange;
  background: white;
  padding: 2px;
  font-size: 14px
}
#jumbo1{
  background-image: url("../img/assets/backgrounds/foodsBg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
#jumbo2{
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  border-radius: 25px;
}
#h3{
color: orange;
text-align: center;
}
#h4{
  color: grey;
  text-align: center;
}
#p2{
  color: grey;
  text-align: center;
}
.topnav {
    background-color: grey;
}
#jumbo3{
  background-image: url("../img/assets/backgrounds/subscribe.jpg");
}
.topnav a {
    color: black;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav input[type=text] {
      padding: 6px;
      border: none;
      font-size: 13px;
      float: left;
      background-color: grey;
      color: white;
  }
#btn3{
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: white;
    background-color: orange;
    float: right;
    padding: 0;
  }
#jumbo4{
  background-color: orange;
}
.heading6{
  text-align: center;
}
#footerh3{
  text-align: center;
}
.center {
    display: grid;
    margin-left: auto;
    margin-right: auto;
